<% if user_signed_in? %>
 <% if current_user.liked_by?(ramen.id) %>
   <div class = 'likes'>
     <%= link_to destroy_like_path(ramen), method: :DELETE, remote: true do %> 
       <div class="fa fa-heart unlike-btn"></div> 
     <% end %> 
     <div class= 'likenum'><%= ramen.likes.count %></div>
   </div>
 	<% else %>
	 <div class = 'likes'>
			<%= link_to create_like_path(ramen), method: :POST, remote: true do %> 
				<i class="fa fa-heart like-btn"></i> 
			<% end %> 
			<div class= 'likenum'><%= ramen.likes.count %></div>
		</div>
 <% end %>
<% end %>