				<li class='list'>
				<%= link_to raman_path(ramen.id) do%>
				<div class='ramen-img-content'>
					<%= image_tag ramen.image, class: 'ramen-image' if ramen.image.attached? %>
				</div>
				<% end %>
				</li>
