
<div class='main'>
	<div class='login'>
		<%= link_to "" do %>
		<button class="btn">ログイン</button>
		<%end%>
		<%= link_to "" do %>
		 <button class="btn1">新規登録</button>
		<%end%>
	</div>
	 <%= image_tag "pic01.jpeg", class:"login-image" %>

</div>