.like-btn {
	font-size: 20px;
	color: #808080;
 }
 
 .unlike-btn {
	font-size: 20px;
	color: #e54747;
 }
 .likes{
	 display: flex;
	 margin-left: 155px;
 }
 .likenum{
padding-left: 5px;
text-decoration: none;
 }