body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
.header{
	height: 47px;
	width: 100vw;
	position: fixed;
	right: 0;
}
.main{
	background-image: url(2.jpg);
	height: 487px;
}
.login{
	text-align: right;
	padding: 7px;
}	

.logout{
	text-align: right;
	padding: 7px;
}
.user-nickname{

}
.btn{
	height: 40px;
	color:black;
	width: 130px;
	
}
.btn1{
	height: 40px;
	color:black;
	width: 130px;
	margin-right: 40px;
}
.login-image{
	height: 400px;
	width: 100vw;
	padding: 0, 88px, 0, 88px;
}
.content1{
	text-align: left;
	font-size: 43px;
	writing-mode: vertical-rl;
	color: black;
	margin-left: 55px;
	font-family: sans-serif;

}
.content{
	text-align: center;
	font-size: 30px;
}
.ramen-contents{
display: flex;
justify-content: space-around;
list-style-type: none;
flex-wrap: wrap;
width: 100vw;

}

.ramen-image{
margin-top: 10px;
width: 24vw;
height: 275px;
transition-duration: 0.5s;
}
.ramen-image img{
  cursor: pointer;
}
.ramen-image:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.ramen-info{
	text-align: center;
}
.store{
font-size: 20px;
}
