body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.login{
	background-image: url(pic02.jpeg);
	text-align: right;
	padding: 20px;
	height: 409px;
}	

.logout{
	background-image: url(pic02.jpeg);
	height: 409px;
	text-align: right;
	padding: 20px;
}
.btn{
	height: 40px;
	color:black;
	width: 130px;
}
.btn1{
	height: 40px;
	color:black;
	width: 130px;
	margin-right: 20px;
}
.login-image{
	height: 400px;
	width: 100vw;
	padding: 0, 88px, 0, 88px;
}
// .user-nickname{
// 	font-size: 23px;
// }
.content1{
	text-align: left;
	font-size: 43px;
	writing-mode: vertical-rl;
	color: black;
	margin-left: 55px;
	font-family: sans-serif;

}
.content{
	text-align: center;
	font-size: 30px;
}