body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.login{
	text-align: right;
	padding: 20px;
	background-color: white;
}
.logout{
	text-align: right;
	padding: 20px;
	background-color: white;
}
.btn{
	height: 40px;
	color:black;
	width: 130px;
}
.btn1{
	height: 40px;
	color:black;
	width: 130px;
	margin-right: 20px;
}
.login-image{
	height: 400px;
	width: 100vw;
	padding: 0, 88px, 0, 88px;
}
// .user-nickname{
// 	font-size: 23px;
// }