
.signin{
	background-image: url(pic.jpeg);
	display: flex;
	justify-content: center;
  align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
.signin-era{
	margin-left: 150px;
}
.field{
	font-size:20px ;
	margin-left: 25px;

}
.signuptext{
	font-size: 30px;
}

.btn5{
	margin-left: 50px;
	width: 150px;
	margin-top: 20px;

}