.showmain{

}
.showmain2{
	height: 1000px;
	display: flex;
  align-items: center;
  flex-direction: column;
	background-image: url(haikeiga.jpg);

}
.showuser{
	margin-top: 90px;
	font-size: 20px;
}
.showramen-image{
	height: 300px;
	width: 350px;
}
.showramen-info{
	margin-left: 40px;
}

.btn4{
	margin-top: 15px;
	width: 150px;
	/* margin-left: 30px; */
}
.showtext{
	display: flex;
  align-items: center;
  flex-direction: column;
	font-size: 20px;
	width: 600px;

}
.showlist{
	list-style-type: none;
}
.commentar{
	margin-top: 20px;
}
.btn6{
	margin-left: 60px;
}
.comments{
	margin-left: 20px;

}
.sample2 {
  position: absolute;
  margin-left: 200px;
  font-size:50px;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: transparent;
  background : rgba(0,0,0,1);
  text-shadow : 
    0 0 0.1em rgba(255,255,255,0.05),
    0.01em 0.04em 0.03em rgba(255,255,255,0.4);
  -webkit-background-clip : text;
}