.showmain{

}
.showmain2{
	height: 1000px;
	display: flex;
  align-items: center;
  flex-direction: column;
	background-image: url(pic1.jpg);

}
.showuser{
	margin-top: 90px;
	font-size: 20px;
}
.showramen-image{
	height: 300px;
	width: 350px;
}
.showramen-info{
	margin-left: 30px;
}

.btn4{
	margin-top: 15px;
	width: 150px;
	margin-left: 30px;
}
.showlist{
	list-style-type: none;
}
.commentar{
	display: flex;
  align-items: center;
  flex-direction: column;
	margin-top: 20px;
	margin-right: 40px;
}
.btn6{
	margin-left: 80px;
}
.comments{
	width: 150px;
	margin-left: 20px;
}
